Support custom intervals for time-step

Currently the time-step is hard-coded to 30 s. However [RFC6238 Section 5.2](https://datatracker.ietf.org/doc/html/rfc6238#section-5.2) states that:

> We RECOMMEND a default time-step size of 30 seconds.  This default value of 30 seconds is selected as a balance between security and usability.

Which indicates that this can be in fact customized.

Implemented in 0995ef3e527b772492bb15a254da860307d1116a